*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
:root{
    --primary-color: #3BB77E;
    --second-color: #F53E32;
    --third-color: #7A7A7A;
}
.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 70px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.category-nav img{
    height: 35px;
    cursor: pointer;
}
.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wishlist:hover i,
.wishlist:hover a{
    color: var(--second-color);
    cursor: pointer;
}
.cart:hover img{
    animation: cart-animate 0.6s ease-in-out 1;
    cursor: pointer;
}
@keyframes cart-animate{
    0%{
        transform: translateY(0);
    }
    30%{
        transform: translateY(-20px);
    }
    60%{
        transform: translateY(0);
    }
    80%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}
.upper-nav,
.footer-nav{
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.links-upper-nav-dropdown{
    background-color: gray;
    flex-direction: column;
    display: none;
    gap: 10px;
    padding: 20px;
    position: relative;
    margin-top: -80px;
    margin-left: -330px;
    top: 105px;
    border-radius: 10px;
}
.input-footer-nav-dropdown{
    background-color: gray;
    flex-direction: column;
    display: none;
    gap: 10px;
    padding: 20px;
    position: relative;
    margin-top: -80px;
    margin-left: -330px;
    top: 115px;
    border-radius: 10px;
}
#dropDownList1{
    left: 660px;
}
#dropDownList2{
    left: 770px;
}
#dropDownList3{
    left: 865px;
}
#dropDownList4{
    left: 945px;
}
#dropDownList5{
    left: 1060px;
}
#dropDownList6{
    left: 605px;
}
.links-upper-nav-dropdown a{
    color: white;
}
.input-footer-nav-dropdown p{
    color: white;
    cursor: pointer;
}
.links-upper-nav-dropdown a:hover{
    color: orange;
}
.input-footer-nav-dropdown p:hover{
    color: orange;
}
.links-upper-nav div i{
    cursor: pointer;
    transition: transform 0.3s ease;
    font-size: 10px;
}
.links-upper-nav{
    display: flex;
    gap: 30px;
}
.links-upper-nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.number-nav{
    display: flex;
    gap: 10px;
}
.input-btn-nav input{
    outline: none;
    border: none;
    width: 260px;
}
.input-btn-nav{
    border: 1px solid var(--primary-color);
    padding: 10px;
    border-radius: 5px 0 0 5px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links-footer-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.input-btn-nav button{
    border: none;
    border-left: 1px solid var(--primary-color);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    gap: 5px;
    cursor: pointer;
}
.input-nav{
    display: flex;
}
.input-btn-nav button i{
    transition: transform 0.3s ease;
    cursor: pointer;
    font-size: 10px;
}
.input-nav-search-btn{
    background-color: var(--second-color);
    border: none;
    height: 37px;
    width: 35px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.input-nav-search-btn i{
    color: white;
}
.links-footer-nav div{
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.brand-img img{ 
    height: 70px;
}
.hero-div{
    background-color: var(--second-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 130px 0 130px;
    height: 70px;
}
.hero-div a, .hero-div p,
.hero-div h3{
    color: white;
}
.hero-div-txt{
    display: flex;
    gap: 10px;
} /* main over */
.cart-checkout{
    display: flex;
    gap: 24px;
}
.left-section,.right-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.left-section hr{
    background-color: #E9E9E9;
    height: 1px;
    border: 0;
    margin-top: 5px;
}
.left-section-cost,.left-section-delivery-method,
.left-section-payment-method,.left-section-payment-imgs,
.right-section-new-customer,.right-section-billing-details{
    border: 1px solid #E9E9E9;
    border-radius: 5px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 17px;
    width: 440px;
}
.summary,.total-amount-carts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.summary div,.total-amount-title{
    display: flex;
    justify-content: space-between;
}
.summary-title{
    margin-bottom: 5px;
}
.summary div:last-child{
    margin-bottom: 10px;
}
.summary-txt p:first-child{
    color: var(--third-color);
}
.total-amount{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.total-amount-cart{
    display: flex;
    gap: 15px;
}
.total-amount-cart-img img{
    height: 75px;
    width: 75px;
    border-radius: 5px;
}
.total-amount-cart-txt{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.total-amount-cart-txt div:last-child{
    display: flex;
    align-content: center;
    gap: 5px;
}
.total-amount-cart-txt div:last-child p:first-child{
    color: #64B496;
    font-weight: 550;
}
.total-amount-cart-txt div:last-child p:last-child{
    font-size: 13px;
    color: var(--third-color);
    text-decoration: line-through;
}
.total-amount-cart-txt-star i{
    color: #F4A263;
    font-size: 12px;
}
.total-amount-carts{
    max-height: 138px;
    overflow-y: auto;
    transition: max-height .2s ease-out;
}
.left-section-delivery-method-txt p{
    color: var(--third-color);
}
.left-section-delivery-method-rate{
    display: flex;
    gap: 100px;
}
.left-section-delivery-method-rate div div:last-child{
    display: flex;
    gap: 5px;
    margin-top: 12px;
}
.left-section-delivery-method-rate div div:last-child p{
    color: var(--third-color);
    font-size: 14px;
}
.left-section-delivery-method-rate div div:last-child input{
    accent-color: var(--second-color);
}
.left-section-delivery-method-comment{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 7px;
}
.left-section-delivery-method-comment div{
    border: 1px solid #E9E9E9;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-section-delivery-method-comment div textarea{
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
}
.left-section-payment-method-txt p{
    color: var(--third-color);
    font-size: 14px;
    max-width: 370px;
}
.left-section-payment-method-variants{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.left-section-payment-method-variants div{
    display: flex;
    gap: 10px;
}
.left-section-payment-method-variants div p{
    color: var(--third-color);
    font-size: 14px;
}
.left-section-payment-method-variants div input{
    accent-color: var(--second-color);
}
.right-section-new-customer-title{
    max-width: 100px;
}
.right-section-new-customer-accounts{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.right-section-new-customer-accounts div{
    display: flex;
    gap: 50px;
}
.right-section-new-customer-accounts div div{
    display: flex;
    gap: 10px;
}
.right-section-new-customer-accounts div div input{
    accent-color: green;
}
.right-section-new-customer{
    width: 600px;
}
.right-section-new-customer-txt{
    max-width: 600px;
}
.right-section-new-customer-txt p{
    color: var(--third-color);
}
#accountLookerBtn,#loginBtn{
    width: 106.66px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--second-color);
    cursor: pointer;
}
.registting{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.registting-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.registting-inputs div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.registting-inputs div input{
    border-radius: 5px;
    border: #E9E9E9 0.5px solid;
    height: 41.38px;
    padding: 15px;
}
.registting-btn{
    display: flex;
    align-items: center;
    gap: 15px;
}
.registting-btn a{
    color: #2B2B2D;
    text-decoration: underline;
}
.registting-btn a:hover{
    color: #F59758;
}
.right-section-billing-details-options{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.right-section-billing-details-options div{
    display: flex;
    gap: 50px;
}
.right-section-billing-details-options div div{
    display: flex;
    gap: 10px;
}
.right-section-billing-details-options div div input{
    accent-color: var(--second-color);
}
.right-section-billing-details{
    width: 600px;
}
.right-section-billing-details-inputs{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
    padding-bottom: 12px;
}
.right-section-billing-details-inputs div{
    display: flex;
}
.right-section-billing-details-inputs div div,.address-input{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.right-section-billing-details-inputs div div input,.address-input input{
    width: 268px;
    padding: 10px;
    border: 0.5px solid #E9E9E9;
    border-radius: 5px;
}
.right-section-billing-details-inputs div div i{
    position: relative;
    left: 245px;
    margin-top: -32px;
    font-size: 12px;
    width: 16px;
    height: 16px;
    color: var(--third-color);
    cursor: pointer;
    transition: transform 0.3s ease;
}
.address-input input{
    width: 565px;
}
#regionDrop,#cityDrop,#passwordDrop,#countryDrop{
    position: relative;
    background-color: #F7F7F8;
    width: 268px;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
#regionDrop p,#cityDrop p,#passwordDrop p,#countryDrop p{
    cursor: pointer;
}
.place-order{
    display: flex;
    justify-content: end;
    width: 600px;
}
.place-order button{
    width: 106.66px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--second-color);
    cursor: pointer;
}
.footer{ /*footer */
    background-color: #F7F7F8;
    padding: 80px 80px 20px 80px;
    margin-top: 80px;
}
.txt-footer p span{
    color: var(--second-color);
}
.txt-footer{
    font-weight: 600;
    text-align: center;
    margin-top: 100px;
}
.upper-footer{
    display: flex;
    gap: 60px;
}
.contact-footer,.company-footer,
.category-footer,.subscribe-our-newsletter-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.contact-footer{
    max-width: 400px;
}
.contact-footer a{
    color: #777777;
}
.contact-footer div{
    display: flex;
    gap: 10px;
}
.contact-footer div img{
    height: 20px;
}
.contact-footer div:first-child img:first-child{
    height: 60px;
    width: 140px;
}
.contact-footer div:first-child {
    display: flex;
    flex-direction: column;
}
.contact-footer div p{
    color: #777777;
}
.company-footer div a,
.category-footer div a{
    color: #777777;
}
.subscribe-our-newsletter-footer-icons{
    display: flex;
    gap: 15px;
}
.subscribe-our-newsletter-footer-icons div{
    box-shadow: 0 0 10px 2px #c5baba;
    width: 32px;
    height: 32px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.subscribe-our-newsletter-footer-input{
    padding: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.subscribe-our-newsletter-footer-input input{
    outline: none;
    border: none;
    width: 330px;
    margin-right: 20px;
}
.category-footer div a:hover,
.company-footer div a:hover{
    color: #F59758;
}